$white: #fff;
$gray-cement: #a5a5a5;
$black: #191919;
$gray-lead: #797979;
$Eerie-Black: #191919;
$Quick-Silver: #a5a5a5;
$Magnolia: #f1effd;
$Quartz: #4c4c4c;
$Peach: #ffe7ac;
$Dark-Slate-Blue: #46368b;
$Sonic-Silver: #797979;
$Sunglow: #fec430;
$Slate-Blue:#755AE8;
$font-size-m: 20px;
$font-size-sm: 17px;
$font-size-lg: 24px;
$font-size-xl: 26px;
$font-size-xs: 16px;
$font-size-xxl: 38px;
$font-regular: 500;
$font-lighter: 400;
$font-medium: 600;
$font-semi-bold: 700;
$font-bold: 900;
$line-height-m: 30px;
$line-height-lg: 32px;
$line-height-sm: 28px;
$line-height-xl: 49px;
$line-height-xs: 24px;
